
.wrapper
  = render 'items/item-header'



.main
  .main__box
    .main__box__top
      新規会員登録
    .main__box__information  
      .main__box__information__body        
        .main__box__information__body__top
          会員情報入力 
        
        = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
          = devise_error_messages!
      
          .field
            = f.label :ニックネーム , class:"field__title"
            %span.field__must 必須
            %span.field__text 6文字以下
            %br/
            = f.text_field :nickname, autofocus: true, maxlength: "6",placeholder: "フリマ太郎", class:  "field__box"
       
          .field
            = f.label :メールアドレス,class:"field__title"
            %span.field__must 必須
            %br/
            = f.email_field :email,placeholder: "xxx@ppp.com", class:  "field__box"
         
          .field
            = f.label :パスワード,class:"field__title"
            %span.field__must 必須
            %span.field__text 7文字以上
            - if @validatable
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, class:  "field__box", autocomplete: "off"
          
          .field
            = f.label :パスワード確認用,class:"field__title"
            %span.field__must 必須
            %span.field__text 7文字以上
            %br/
            = f.password_field :password_confirmation, class:  "field__box", autocomplete: "off"


          %h1 本人確認
          %li 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          
          .field 
            = f.label :苗字 ,class:"field__title"
            %span.field__must 必須
            %span.field__text 全角
            %br/
            = f.text_field :family_name, class:  "field__box"

          .field 
            = f.label :名前,class:"field__title"
            %span.field__must 必須
            %span.field__text 全角
            %br/
            = f.text_field :first_name, class:  "field__box"

          

          .field 
            = f.label :ミョウジ,class:"field__title"
            %span.field__must 必須
            %span.field__text 全角カタカナ
            %br/
            = f.text_field :family_name_kana,class:  "field__box"
          
          .field 
            = f.label :ナマエ ,class:"field__title"
            %span.field__must 必須
            %span.field__text 全角カタカナ
            %br/
            = f.text_field :first_name_kana, class:  "field__box"
          



          = f.label :生年月日,class:"field_mini__box__title"
          %span.field_mini__box__must 必須
          .field_mini
            .field_mini__box                
              = f.number_field :birth_year,placeholder: "-", class:  "field_mini__box__form",min: 1900, max: 2020
              .field_mini__box__label
                年
              
            .field_mini__box         
              = f.number_field :birth_month,placeholder: "-", class:  "field_mini__box__form" ,min: 1, max: 12
              .field_mini__box__label 
                月

            .field_mini__box           
              = f.number_field :birth_day,placeholder: "-", class:  "field_mini__box__form",min: 1, max: 31
              .field_mini__box__label
                日
          



          
          .field 
            = f.label :郵便番号,class:"field__title"
            %span.field__must 必須
            %br/
            = f.text_field :post_code,placeholder: "xxx-xxxx", class:  "field__box"
          
          .field 
            = f.label :県,class:"field__title"
            %span.field__must 必須
            %br/
            = f.text_field :prefecture_code,placeholder: "東京都", class:  "field__box"

          .field 
            = f.label :住所,class:"field__title"
            %span.field__must 必須
            %br/
            = f.text_field :city,placeholder: "渋谷区渋谷町", class:  "field__box"

          .field 
            = f.label :番地,class:"field__title"
            %span.field__must 必須
            %span.field__text 全角

            %br/
            = f.text_field :house_number,placeholder: "1ー1ー1", class:  "field__box"

          .field 
            = f.label :建物名,class:"field__title"
            %br/
            = f.text_field :building_name,placeholder: "シブヤビル", class:  "field__box"

          .field 
            = f.label :電話番号,class:"field__title"
            %br/
            = f.text_field :phone_number,placeholder: "000-0000-0000", class:  "field__box"

          .actions
            %h2 クリックすると会員登録が完了します。
            = f.submit "新規登録する", class:"next_button" 
              
.wrapper
  = render 'items/item-footer'



