.wrapper
  = render 'items/header'
= link_to root_path, class:"sell-btn" do
  .sell-btn__text
    出品する
  = image_tag('material/icon/icon_camera.png', class:"sell-btn__image")
.mypage
  .mypage__container
    = render 'mypage-side'
    .mypage__container__main
      .mypage__container__main__chapter
        %h2.mypage__container__main__chapter__head
          クレジットカード情報入力
        .mypage__container__main__chapter__card-registraition
          .mypage__container__main__chapter__card-registraition__content

            = form_tag(pay_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %label カード番号
              %span.form-require 必須
              = text_field_tag "number", "", class: "input-default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              -# = text_field_tag "number", "", class: "input-default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              .mypage__container__main__chapter__card-registraition__content__form-group-card-namber
                %ul.signup-card-list
                  %li.first
                    = image_tag src="material/logo/card-logo-visa.png",width: "35", height: "20"
                  %li
                    = image_tag src="material/logo/card-logo-mastercard.png",width: "35", height: "20"
                  %li
                    = image_tag src="material/logo/card-logo-saisoncard.gif",width: "35", height: "20"
                  %li
                    = image_tag src="material/logo/card-logo-JCB.gif",width: "35", height: "20"
                  %li
                    = image_tag src="material/logo/card-logo-americanexpress.gif",width: "35", height: "20"
                  %li
                    = image_tag src="material/logo/card-logo-dinersclub.gif",width: "35", height: "20"
                  %li
                    = image_tag src="material/logo/card-logo-discover.gif",width: "35", height: "20"
                %br
              .mypage__container__main__chapter__card-registraition__content__form-group-expire
                %a 有効期限
                %span.form-require 必須
                %br
                .mypage__container__main__chapter__card-registraition__content__form-group-expire__select-wrap
                  %select#exp_month{name: "exp_month", type: "text", class: "select-default"}
                    %option(value="01")01
                    %option(value="02")02
                    %option(value="03")03
                    %option(value="04")04
                    %option(value="05")05
                    %option(value="06")06
                    %option(value="07")07
                    %option(value="08")08
                    %option(value="09")09
                    %option(value="10")10
                    %option(value="11")11
                    %option(value="12")12
                  %span 月
                .mypage__container__main__chapter__card-registraition__content__form-group-expire__select-wrap
                  %select#exp_year{name: "exp_year", type: "text", class: "select-default"}
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                  %span 年
              .mypage__container__main__chapter__card-registraition__content__form-group-security-code
                %a セキュリティコード
                %span.form-require 必須
                = text_field_tag "cvc", "", class: "input-default", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
                #card_token
                = submit_tag "追加する", id: "token_submit", class: "btn-card-create"
.wrapper
  = render 'items/footer'

