.mypage__container__side
  %nav.mypage__container__side__nav
    %ul.mypage__container__side__nav__list
      %li
        =link_to "mypage", class: "mypage__container__side__nav__list__item" do
          マイページ
          = icon("fas", "angle-right", class: "icon-angle-right")
          %span<>
      %li
        =link_to "mypage_exhibiting", class: "mypage__container__side__nav__list__item" do
          出品した商品−出品中
          = icon("fas", "angle-right", class: "icon-angle-right")
          %span<>
      %li
        =link_to "mypage_exhibiting", class: "mypage__container__side__nav__list__item" do
          出品した商品−取引中
          = icon("fas", "angle-right", class: "icon-angle-right")
          %span<>
      %li
        =link_to "mypage_exhibiting", class: "mypage__container__side__nav__list__item" do
          出品した商品−売却済み
          = icon("fas", "angle-right", class: "icon-angle-right")
          %span<>
      %li
        =link_to "mypage_card", class: "mypage__container__side__nav__list__item" do
          支払い方法
          = icon("fas", "angle-right", class: "icon-angle-right")
          %span<>
      %li
        =link_to "mypage_logout", class: "mypage__container__side__nav__list__item" do
          ログアウト
          = icon("fas", "angle-right", class: "icon-angle-right")
          %span<>