.wrapper
  = render 'header'
.body  
  .main
    .main__name
      [一点物][adidas]チームロゴ、アニマルプリント
    .main__comment
      『[一点物][adidas]チームロゴ、アニマルプリント』は、130回の取引実績を持つジェコクマの古着屋フォロー割実施中さんから出品されました。Tシャツ/カットソー(半袖/袖なし)/レディースの商品で、京都府から1~2日で発送されます。
    .main__informations
      .item-photo
        .item__top-stage
          = image_tag src="material/icon/icon-03.png",size: "300x300"
        .item__sub
          .item__1-5
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
          .item__6-10
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
      %table.main__informations__information
        %tr
          %th.main__informations__information__item　出品者
          %td.main__informations__information__breakdown　伊藤
        %tr
          %th.main__informations__information__item　カテゴリー
          %td.main__informations__information__breakdown　メンズ
        %tr
          %th.main__informations__information__item　ブランド
          %td.main__informations__information__breakdown　GANZO
        %tr
          %th.main__informations__information__item　商品のサイズ
          %td.main__informations__information__breakdown　ちょい大きめ
        %tr
          %th.main__informations__information__item　商品の状態
          %td.main__informations__information__breakdown　ボロボロ
        %tr
          %th.main__informations__information__item　配送料の負担
          %td.main__informations__information__breakdown　出品者持ち
        %tr
          %th.main__informations__information__item　配送元の地域　
          %td.main__informations__information__breakdown　北極
        %tr
          %th.main__informations__information__item　発送日までの目安
          %td.main__informations__information__breakdown　1日〜２日
    .main__price-box
      .main__price-box__item-price
        ¥1,500
      .main__price-box__item-price__tax
        (税込)
      .main__price-box__item-price__postage-included
        送料込み
    .main__buy-button
      = link_to('購入画面に進む', {},class: "button")
    .main__messages
      ☑ブランド
      　adidas
      　　　
      ☑カラー
      　グリーン

      ☑状態
      　古着ですが状態も良く、これからもたくさん着て頂けます。

      ☑サイズ表記
      　メンズSですがレディースL~XL のサイズ感ですのでレディースで出品しています。

      ↓下記実寸をご参考ください↓
      　着丈→63cm
      　肩幅→37cm
      　身幅→42cm
      　
      ⚠素人の採寸ですので、若干のズレがある可能性もあります。
      　ご了承ください。

      *・゜゜・*:.。

      ○POINT○
      古着SNSなどでも大人気カラーのグリーンです(∩ˊᵕˋ∩)・*

      パンサーのプリントもカコイイですね。

      この夏活躍間違いなしのアイテムです。

      メンズ表記ですがユニセックスアイテムですので、今回レディースとして出品しています。


      ◯その他

      ［発送］なるべくリーズナブルにお譲りしたいと思っています。そのため、極力コンパクトにおさて発送するので、折りシワが付いてしまうことにご理解いただけると嬉しいです。

      ［お願い］古着ですので小さな汚れやほつれ、シワがある場合があります。古着理解のある方のみご購入ください。


      手洗いクリーニング済です。

      非喫煙者です。

      ペットは飼っておりません。


      古着 #古着男子 #古着女子 #フルダン #フルジョ #90s 

      カーハート #adidas   #Nike  #ラルフローレン　#バーバリー

      ノーティカ　#ノースフェイス　#ビッグシルエット #オーバーサイズ
      
  .wrapper
  = render 'footer'