.wrapper
  = render 'header'

.wrapper
  = render 'items/sell-btn'

.mypage
  .mypage__container
    = render 'mypage-side'

    .mypage__container__main
      .mypage__container__main__chapter
        .mypage__container__main__chapter__inner
          .single-content
          = link_to destroy_user_session_path, method: :delete, class: "btn" do
            ログアウト

.wrapper
  = render 'footer'