.wrapper
  = render 'header'

.wrapper
  = render 'items/sell-btn'

.mypage
  .mypage__container
    = render 'mypage-side'

    .mypage__container__main
      .mypage__container__main__user-icon
        .mypage__container__main__user-icon__user
          .mypage__container__main__user-icon__user__image
            = image_tag "material/icon/member_photo_noimage_thumb.png"
          %h2.mypage__container__main__user-icon__user__name
            = current_user.nickname

.wrapper
  = render 'footer'