.wrapper
  = render 'header'

= link_to root_path, class:"sell-btn" do

  .sell-btn__text
    出品する
  = image_tag('material/icon/icon_camera.png', class:"sell-btn__image")

.mypage
  .mypage__container
    = render 'mypage-side'

    = render 'mypage-exhibiting'

  = render 'footer'