.wrapper
  = render 'header'

= link_to root_path, class:"sell-btn" do

  .sell-btn__text
    出品する
  = image_tag('material/icon/icon_camera.png', class:"sell-btn__image")

.mypage
  .mypage__container
    = render 'mypage-side'

    .mypage__container__main
      .mypage__container__main__chapter
        %h2.mypage__container__main__chapter__head
          支払い方法
        .mypage__container__main__chapter__inner
          .mypage__container__main__chapter__inner__settings-add-card
            .mypage__container__main__chapter__inner__settings-add-card__single-content
            =link_to "mypage_card_create", class: "btn" do
              = icon("far", "credit-card", class: "btn--icon")
              %span<>
              クレジットカードを追加する

  = render 'footer'