.wrapper
  = render 'item-header'
.sell
  .main-new
    .content-new
      .box-new
        .box-new__title
          %label 出品画像
          %span.box-new__title__must 必須
        .box-new__info-1
          最大10枚までアップロードできます
        .box-new__pic
          %input{type: "file", class: "box-new__picfile", style: "display: none;"}
            .icon-new
              = image_tag "material/icon/icon_camera.png", size: "20x18"
            .box-new__pic__inf ドラッグアンドドロップ
            .box-new__pic__inf またはクリックしてファイルをアップロード<br>
      .box-new
        .box-new__title
          %label 商品名
          %span.box-new__title__must 必須
        %input.box-new__input{placeholder: "40文字まで"}
      .box-new
        .box-new__title
          %label 商品の説明
          %span.box-new__title__must 必須
        %textarea{rows: "7", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
        .box-new__count 1/1000
      .box-new
        .box-new__info-2
          %label 商品の詳細
        .box-new__title
          %label カテゴリー
          %span.box-new__title__must 必須
        %select{name: "category"}
          %option{value: ""} 選択してください
          %option{value: "0"} レディース
          %option{value: "1"} メンズ
          %option{value: "2"} ベビー・キッズ
          %option{value: "3"} インテリア・住まい・小物
          %option{value: "4"} 本・音楽・ゲーム
          %option{value: "5"} 家電・スマホ・カメラ
          %option{value: "6"} スポーツ・レジャー
          %option{value: "7"} ハンドメイド
          %option{value: "8"} チケット
          %option{value: "9"} 自動車・オートバイ
          %option{value: "10"} その他
      .box-new
        .box-new__title
          %label ブランド
          %span.box-new__title__opt 任意
        %input.box-new__input{placeholder: "例）シャネル"}

      .box-new
        .box-new__title
          %label 商品の状態
          %span.box__title__must 任意
        %select{name: "conditions"}
          %option{value: ""} 選択してください
          %option{value: "0"} 新品、未使用
          %option{value: "1"} 未使用に近い
          %option{value: "2"} 目立った傷や汚れなし
          %option{value: "3"} やや傷や汚れあり
          %option{value: "4"} 傷や汚れあり
          %option{value: "5"} 全体的に状態が悪い
      
      .box-new
        .box-new__info-2
          %label 配送について
        .box-new__title
          %label 配送料の負担
          %span.box-new__title__must 必須
        %select{name: "delivery"}
          %option{value: ""} 選択してください
          %option{value: "0"} 送料込み（出品者負担）
          %option{value: "0"} 着払い（購入者負担）

      .box-new
        .box-new__title
          %label 発送元の地域
          %span.box-new__title__must 必須
        %select{name: "site"}
          %option{value: ""} 選択してください
          %option{value: "0"} 北海道
          %option{value: "1"} 青森県
          %option{value: "2"} 岩手県
          %option{value: "3"} 宮城県
          %option{value: "4"} 秋田県
          %option{value: "5"} 山形県       
      
      .box-new
        .box-new__title
          %label 発送までに日数
          %span.box-new__title__must 必須
        %select{name: "days"}
          %option{value: ""} 選択してください
          %option{value: "0"} 1〜2日で発送
          %option{value: "1"} 3〜4日で発送
          %option{value: "2"} 4〜7日で発送
      
      .box-new
        .box-new__info-2
          %label 価格（¥300〜9,999,999）
        .box-new__price
          .box-new__price__title
            %label 販売価格
            %span.box-new__price__title__must 必須
          .box-new__price__input 
            %span.yen ￥
            %input.pricebox{type: "number", placeholder: "0"}
        .box-new__sales
          .box-new__sales__title 販売手数料（10%)
          .box-new__sales__fee －
        .box-new__margin 
          .box-new__margin__title 販売利益
          .box-new__margin__profit －

      .button-new
        .submit-new__btn
          %button.submit-new__botton{type: "submit"} 出品する

        .back-new__btn
          %a.back-new__botton 
            = link_to "/"  do
              もどる  

      %p.box-new__attention
        禁止されている
        = link_to "行為" 
        および
        = link_to "出品物" 
        を必ずご確認ください。
        = link_to "偽ブランド品" 
        や
        = link_to "盗品物" 
        などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
        = link_to "加盟店規約" 
        に同意したことになります。
            
.wrapper
  = render 'item-footer'