%h2 購入を確定しますか？
%p Apple MacBook Pro 13インチ
%p ¥135,000(送料込み)
%br
%h3 支払い方法
- if @default_card_information.blank?
  %br /
- else
  -#以下カード情報を表示
  = "**** **** **** " + @default_card_information.last4
  - exp_month = @default_card_information.exp_month.to_s
  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
  = exp_month + " / " + exp_year
%br
= form_tag(action: :pay, method: :post) do
  %button 購入する


  .wrapper
  = render 'item-header'
.main
  .main__body
    .main__body__top
      購入内容の確認
    .main__body__item    
      = image_tag('material/pict/pict-reason-01.jpg', class:"main__body__item__img")
      .main__body__item__explanation
        .main__body__item__explanation__text
          サファイアリング♡7号 美品【エテ】K10 サファイア デザインリング☆アガット 
        .main__body__item__explanation__price
          10,900 （税込）送料込み     

    .main__body__price
      .main__body__price__text
        支払い金額
      .main__body__price__price
        ￥1,000   

    .main__body__method_payment
      .main__body__method_payment__list
        .main__body__method_payment__list__title
          支払い方法
        .main__body__method_payment__list__card
          クレジットカード
        .main__body__method_payment__list__number
          0000-0000-0000-0000
        .main__body__method_payment__list__expiration_date
          04/24
        .main__body__method_payment__list__card_type       
          = icon('fab', 'cc-visa fa-2x')           
      .main__body__method_payment__edit
        変更する

    .main__body__shipping_address
      .main__body__shipping_address__list        
        .main__body__shipping_address__list__title
          配送先
        .main__body__shipping_address__list__postal_code
          〒000-0000
        .main__body__shipping_address__list__address
          東京都千代田区日本橋1-1-1
        .main__body__shipping_address__list__name
          国分 太郎        
      .main__body__shipping_address__edit
        変更する     

    .main__body__purchase
      .main__body__purchase__box
        = form_for(pay_purchase_index_path, method: :post) do
          %button 
            購入する
.wrapper
  = render 'item-footer'