.wrapper
  = render 'item-header'
.main
  .main__body
    .main__body__box
      .main__body__box__top
        購入内容の確認
      .main__body__box__item    
        = image_tag(@item.item_images[0].src.url, size: '150x150', class: "main__body__item__img")
        .main__body__box__item__explanation
          .main__body__box__item__explanation__text
            =@item.name
          .main__body__box__item__explanation__price
            
            = @item.postage_payers 
            %li
              = "¥ #{@item.price} （税込）"  
            

      .main__body__box__price
        .main__body__box__price__text
          支払い金額
        .main__body__box__price__price
          ￥
          =@item.price

      .main__body__box__method_payment
        .main__body__box__method_payment__list
          .main__body__box__method_payment__list__title
            支払い方法
          .main__body__box__method_payment__list__card
            クレジットカード
          .main__body__box__method_payment__list__number
            0000-0000-0000-0000
          .main__body__box__method_payment__list__expiration_date
            04/24
          .main__body__box__method_payment__list__card_type       
            = icon('fab', 'cc-visa fa-2x')           
        .main__body__box__method_payment__edit
          変更する

      .main__body__box__shipping_address
        .main__body__box__shipping_address__list        
          .main__body__box__shipping_address__list__title
            配送先
          .main__body__box__shipping_address__list__postal_code
            = current_user.post_code
          .main__body__box__shipping_address__list__address
            = current_user.prefecture_code 
            = current_user.city
            = current_user.house_number
            = current_user.building_name    
            
          .main__body__box__shipping_address__list__name
            = current_user.destination_family_name
            = current_user.destination_first_name   

    .main__body__box__purchase
      .main__body__box__purchase__box
        購入する
.wrapper
  = render 'item-footer'