.wrapper
  = render 'header'
.body  
  .main
    .main__name
      =@item.name
    .main__comment
    .main__informations
      .main__informations__item-photo
        .main__informations__item-photo__top-stage
          = image_tag src="material/icon/icon-03.png",class:"top-image"
        .main__informations__item-photo__sub
          .item__1-5
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
          .item__1-5
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
            = image_tag src="material/icon/icon-03.png",size: "60x60"
      %table.main__informations__information
        %tr
          %th.main__informations__information__item     出品者
          %td.main__informations__information__breakdown
        %tr
          %th.main__informations__information__item カテゴリー
          %td.main__informations__information__breakdown
            =@item.category.name
        %tr
          %th.main__informations__information__item  ブランド
          %td.main__informations__information__breakdown
            =@item.brand.name
        %tr
          %th.main__informations__information__item 商品の状態
          %td.main__informations__information__breakdown
            =@item.condition
        %tr
          %th.main__informations__information__item 配送料の負担
          %td.main__informations__information__breakdown
            =@item.postage_payers
        %tr
          %th.main__informations__information__item 配送元の地域
          %td.main__informations__information__breakdown
            =@item.prefecture.name
        %tr
          %th.main__informations__information__item 発送日までの目安
          %td.main__informations__information__breakdown
            =@item.preparation_period
    .main__price-box
      .main__price-box__item-price
        ¥
        =@item.price
      .main__price-box__item-price__tax
        (税込)
      .main__price-box__item-price__postage-included
        送料込み
    .main__buy-button
      = link_to('購入画面に進む',purchase_temporary_items_path,class: "button")
    .main__messages
      =@item.item_introduction
  - if user_signed_in? && current_user.id == @item.seller_id
    .change__box
      .change__box__edit__button
        = link_to('商品の編集する',purchase_temporary_items_path,class: "button")
      .change__box__delete__button
        = link_to('商品の削除する',purchase_temporary_items_path,class: "button")

  .wrapper
  = render 'footer'