!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample71e
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if flash[:success]
      .success
        = flash[:success]

    - if flash[:success_update]
      .success
        = flash[:success_update]

    - if flash[:alert]
      .alert
        = flash[:alert]

    = yield